/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* CSS */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: white;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #252525, #131313);
}
.titulo, .entrada, .saida {
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrada, .entrada label, .saida {
    padding: 10px;
}
input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 5%;
    padding: 4px;
    font-size: 14px;
    color: black;
    outline: none;
}
input::placeholder{
    color: black;
}
.pct {
    position: absolute;
    color: black;
    background: none;
}
.ipct {
    text-align: right;
    padding-right: 22px;
}

/* Remover Setas do Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    margin-right: 10px;
    padding: 5px;
    width: 5%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
}

